

<div class="container" style="height:450px;overflow:auto;">
<div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">Register</div>
                            <div class="card-body">

                                <form   [formGroup]="form" class="form-horizontal" (ngSubmit)="onSubmit(form.value)">

                                    <div class="form-group">
                                        <label for="name" class="cols-sm-2 control-label">Your Name</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" formControlName="userName"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" formControlName="emailId" />
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label for="password" class="cols-sm-2 control-label">Phone Number</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="number" id="number" placeholder="Enter your Phone Number" formControlName="phoneNumber"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirm" class="cols-sm-2 control-label"> Password</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" formControlName="passWord" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                      <div class="cols-sm-10">
                                          <div class="input-group">
                                              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                              <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" formControlName="password2" />
                                          </div>
                                      </div>
                                  </div>

                                    <label class="input-group-text" for="Class">Select Class</label>
                                      <select class="custom-select" name="class" id="class" formControlName="standard">
                                         <option value="10">10</option>
                                          <option value="12">12</option>
                                      </select>
                                    <div class="form-group ">
                                        <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                                    </div>
                                    
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
</div>
