
<nav class="navbar navbar-expand-lg fixed-top  ">
  <a class="navbar-brand textcolor" href="#">ExploreCareer</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link textcolor" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
      </li>
	   <li class="nav-item">
        <a class="nav-link textcolor" routerLink="/AboutUs">About Us</a>
      </li>
	   <li class="nav-item ">
        <a class="nav-link textcolor" routerLink="/DisplayStream">Streams</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link textcolor" routerLink="/CareerIn">Career In</a>
      </li>
	    
	  <li class="nav-item">
      
      </li>
      <li class="nav-item dropdown dropdownbg">
        <a class="nav-link dropdown-toggle  textcolor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Question
        </a>
        <div class="dropdown-menu dropdownbg " aria-labelledby="navbarDropdown">
          <a class="nav-link textcolor " routerLink="/AskQuestion">Ask Questions</a>
          <a class="nav-link textcolor " routerLink="/ShowQuestions">Show All Questions</a>
 
             </div>
      </li>
	   <li class="nav-item">
        <a class="nav-link textcolor " routerLink="/AddNotice">Post Notice</a>
      </li>

      <li class="nav-item dropdown dropdownbg">
       <a class="nav-link dropdown-toggle  textcolor" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Add New
       </a>
       <div class="dropdown-menu dropdownbg " aria-labelledby="navbarDropdown">
         <a class="dropdown-item textcolor " routerLink="/SubjectAdd">Subject</a>
         <a class="dropdown-item textcolor"  routerLink="/StreamAdd">Stream</a>
         <a class="dropdown-item textcolor"  routerLink="/FieldAdd">Field</a>
         <a class="dropdown-item textcolor"  routerLink="/BranchAdd">Branch</a>

            </div>
     </li>
	   <li class="nav-item">
        <a class="nav-link textcolor " routerLink="/UserLogin">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link textcolor " routerLink="/UserRegister">Register </a>
      </li>
    </ul>

 </div>
</nav>
<br/><br/><br/>