
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ExploreCareer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
      </li>
	   <li class="nav-item">
        <a class="nav-link " href="aboutus.html">About Us</a>
      </li>
	   <li class="nav-item ">
        <a class="nav-link" href="StreamDetails.html">Streams</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routerLink="/CareerIn">Career In</a>
      </li>
	    <li class="nav-item">
        <a class="nav-link  " href="newsfeed.html">Newsfeed</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link  " href="ReplyQuestion.html">Questions</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link  " href="UserExperience.html">Share Experience</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link  " href="AdminPost.html">Post Notice</a>
      </li>

      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Expert
       </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="#">Remove Expert</a>
         <a class="dropdown-item" href="#">Remove Expert</a>
         <a class="dropdown-item" href="#">Display Expert</a>

            </div>
     </li>
	   <li class="nav-item">
        <a class="nav-link  " href="login1.html">Logout </a>
      </li>

    </ul>

 </div>
</nav>
