<div class="modal-body row text bg">
    <div class="col-md-6"><br>
      <br>
     OUR STORY
  </div>
    <div class="col-md-6">
<div>
        After struggling in deciding what to do? after school, 
        we realized that it was near impossible for the average Jane or Joe to find a good career guider.
         Traditional guidance websites were simply too complicated and time consuming.
        </div><br>
        <br>
<div>       We created the Explore Career Site  with the students's perspective in mind. We wanted to offer 
        a platform that would help students to choose their career, by providing all the future options available for them based on their highest qualification.
        The website contains detailed information of all the available courses offered by various institutes with their course contents,
        scope and entrance exams.
      </div> 
    </div>
  </div>